.wrapper {
    flex: 1 0 auto;
    aspect-ratio: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    aspect-ratio: 1;
    font-size: 0;
    line-height: 0;

    touch-action: none;
    user-select: none;
}

.cell {
    background-color: #122;
    aspect-ratio: 1;

    box-shadow: inset 0px 0px 0px 2px #233;

    position: relative;

    > * {
        pointer-events: none;
    }

    &.selected {
        box-shadow: inset 0 0 15px 5px #fff;
    }
}